@import url('file:///home/franci/.cache/wal/colors-waybar.css');

window#waybar {
all:unset;
}

.modules-left{
	padding: 1px;
	margin: 2px 0px 2px 10px;
	border-radius:10px;
	background: alpha(@background, 0.75);
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
}

.modules-center{
	padding-left: 10px;
	padding-right: 10px;
	margin: 5px 0px 5px 0px;
	border-radius:10px;
	background: alpha(@background, 0.75);
}

.modules-right{
	padding: 1px;
	margin: 2px 10px 2px 0px;
	border-radius:10px;
	background: alpha(@background, 0.6);
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.75);
}


#tooltip{
	background:@background;
	color: @color4
}

/*left side*/
#idle_inhibitor, #idle_inhibitor.deactivated, #battery, #network, #bluetooth {
color: @color4;
padding-right: 4px;
margin-right: 1px
}

#idle_inhibitor.activated{
	color:@color15;
}

#group-expand{
padding:0px 5px;
transition: all .3s ease;
}
#custom-expand{
color: @color4;
text-shadow: 0px 0px 2px rgba(0, 0, 0, .7);
transition: all .3s ease;
}
#cpu,#memory,#temperature, #disk{
color:@color4;
padding-right: 4px;
margin-right: 1px
}



/*center*/
#workspaces {
padding: 2px 2px 0px 5px;
}

#workspaces button {
all:unset;
border: none;
padding: 0px 5px;
background-color: transparent;
color: @color4;
transition: all 0.2s ease;
}

#workspaces button.active {
color: @color13;
border-bottom: 3px solid @Foreground;
padding-bottom: 0;
}

#taskbar button {
padding-left: 6px;
padding-right: 6px;
}


/*right*/

#group-op {
color: @color4;
padding-right: 4px;
margin-right: 6px
}

#custom-lock,
#custom-reboot,
#custom-sleep,
#custom-poweroff {
color: @color4;
padding-right: 4px;
margin-right: 6px
}

#custom-swaync {
margin-right: 10px;
color:@color4;
padding-left: 10px;
}

#clock{
color:@color4;
}

/* Kill all GTK theming interference */
#pulseaudio-slider trough,
#pulseaudio-slider highlight,
#pulseaudio-slider slider {
all: unset;
background-image: none;
box-shadow: none;
}

/* Style the trough (entire track) */
#pulseaudio-slider trough {
background-color: @color4; /* unfilled background */
border-radius: 4px;
min-height: 4px;
min-width: 90px;
}

/* Style the filled portion of the slider */
#pulseaudio-slider highlight {
background-color: @foreground; /* this is the highlight color */
border-radius: 4px;
}

#pulseaudio-slider slider {
background: none;
min-height: 0px;
min-width: 0px;
}

#pulseaudio.sink {
padding-right: 0px;
color:@color4
}

#cava {
color: alpha(@color4, 0.75);
min-width:180px;
margin-top: 8px;
}

#cava.hidden{
min-width:0px;
}

#custom-music.playing {
	color: @color4;
	min-width:160px;
}

#custom-music.paused{
	color: @color13;
	min-width: 160px;
}

#custom-music.stopped{
	background-color:transparent;
	min-width: 80px;
	color: @color13;
	border:none;
}

#window {
	color:@color4;
    border-radius: 0.5rem;
    padding: 2px 5px;
	transition: all 0.3s;
}

#submap{
	color:@color4;
}

#submap.f-binds {
	color:@color13;
}